.site-btn-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.site-btn-list__item {
    position: relative;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(21, 151, 151);
    border-radius: 9px;
    margin: 0 auto;
    &:not(:last-child){
        margin-bottom: 20px;
    }
}
.site-btn-list__item-head {
    text-align: center;
    color: #fff; 
    &::before{
        vertical-align: middle;
        display: inline-block;
        width: 48px;
        height: 48px;
        background-image: url(../../img/check.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
    }   
}